.header {
    /* border: 2px solid red; */
    margin: 0;
    height: 70px;
    width: 100%;
    max-width: 1800px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.052);
    overflow: hidden;
    background-color: white;
}

.logoContainer, .navlinkContainer, .hamburgerContainer {
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    padding: 5px 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logoContainer {
    width: 100%;
    justify-content: flex-start;
}
.navlinkContainer {
    width: 100%;
}
.hamburgerContainer {
    width: 50px;
    min-width: 50px;
    display: none;
    padding: 5px;
}

@media (max-width: 1000px) {
    .header {
        height: 65px;
    }
    .navlinkContainer {
        display: none;
    }
    .hamburgerContainer {
        display: flex;
    }
}
@media (max-width: 750px) {
    .header {
        height: 60px;
    }
    
}
@media (max-width: 450px) {
    .header {
        height: 60px;
    }
    
}
@media (max-width: 350px) {
    .header {
        height: 55px;
    }
    
}